*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    width: 300px;
    height: 300px;
    position: relative;
    padding: 15px;
    border: 2px solid black;
}
.heading{
    margin: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    width: 100%;
    height: 30px;
    outline: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
}

input::placeholder{
    color: #B7B7B7;
}

input:focus{
    border-color: #171717;
}
input:focus::placeholder{
    color: #171717;
}
.btn{
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #171717;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.footer_text{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #B7B7B7;
}
.footer_text a{
    text-decoration: none;
    color: #171717;
}
.sub-foot {
    margin-top: 20px;
}